

<!-- should show bookmarks in list -->
<div class="container">
  <h1 class="list-title"><%= @list.name %></h1>
  <ul>
  <% @list.bookmarks.each do |bookmark| %>
  <div class="movie-container">
    <div class="movie" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>)">
      <div class="movie-title"><%= bookmark.movie.title %></div>
      <%= link_to bookmark_path(bookmark), method: :delete do %>
        <div class="bin"><i class="far fa-trash-alt"></i></div>
      <% end %>
    </div>
    <div><%= bookmark.comment %></div>
  </div>


    <% end %>

  </ul>

<%= link_to "Add bookmark to list", new_list_bookmark_path(@list) %><br>
<%= link_to 'Delete list', list_path(@list), method: :delete%><br>
<%= link_to 'Back to list index', lists_path %>
</div>
